<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>menu</td><td>FunctionalTest.navegaMenu()[pri:4, instance:com.techbeamers.testng.FunctionalTest@6a41eaa2]<br/>androidFunctional.navegaMenu()[pri:4, instance:com.techbeamers.testng.androidFunctional@6093dd95]<br/>androidFunctional.navegacionPrincipal()[pri:2, instance:com.techbeamers.testng.androidFunctional@6093dd95]<br/>FunctionalTest.navegacionPrincipal()[pri:2, instance:com.techbeamers.testng.FunctionalTest@6a41eaa2]<br/></td></tr>
</table>
