<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>usound_android_test by groups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>17/09/14 18:38:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.navegacionPrincipal()[pri:2, instance:com.techbeamers.testng.FunctionalTest@6a41eaa2]">navegacionPrincipal</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/09/14 18:39:00</td>   <td>2071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="androidFunctional.navegacionPrincipal()[pri:2, instance:com.techbeamers.testng.androidFunctional@6093dd95]">navegacionPrincipal</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/09/14 18:39:02</td>   <td>4083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.navegaMenu()[pri:4, instance:com.techbeamers.testng.FunctionalTest@6a41eaa2]">navegaMenu</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/09/14 18:39:03</td>   <td>4096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="androidFunctional.navegaMenu()[pri:4, instance:com.techbeamers.testng.androidFunctional@6093dd95]">navegaMenu</td> 
  <td>main@1776957250</td>   <td></td> </tr>
</table>
