<h2>Methods that were not run</h2><table>
<tr><td>com.techbeamers.testng.FunctionalTest.secInicial</td></tr>
<tr><td>com.techbeamers.testng.androidFunctional.secInicial</td></tr>
<tr><td>com.techbeamers.testng.androidFunctional.mover_volumen</td></tr>
<tr><td>com.techbeamers.testng.androidFunctional.asistenteAuditivo</td></tr>
<tr><td>com.techbeamers.testng.FunctionalTest.mover_volumen</td></tr>
<tr><td>com.techbeamers.testng.FunctionalTest.asistenteAuditivo</td></tr>
<tr><td>com.techbeamers.testng.FunctionalTest.navegacion_tuNivelAuditivo</td></tr>
<tr><td>com.techbeamers.testng.androidFunctional.mover_eq</td></tr>
<tr><td>com.techbeamers.testng.FunctionalTest.mover_eq</td></tr>
<tr><td>com.techbeamers.testng.androidFunctional.navegacion_tuNivelAuditivo</td></tr>
</table>