<h2>Methods that were not run</h2><table>
<tr><td>com.usound.testng.androidFunctional.secInicial</td></tr>
<tr><td>com.usound.testng.androidFunctional.menuDesplegable</td></tr>
<tr><td>com.usound.testng.androidFunctional.navegaMenu</td></tr>
<tr><td>com.usound.testng.androidFunctional.test_normal</td></tr>
<tr><td>com.usound.testng.androidFunctional.asistenteAuditivo</td></tr>
<tr><td>com.usound.testng.androidFunctional.navegacion_tuNivelAuditivo</td></tr>
<tr><td>com.usound.testng.androidFunctional.navegacionPrincipal</td></tr>
<tr><td>com.usound.testng.androidFunctional.mover_eq</td></tr>
</table>