<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>17/09/25 16:21:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;androidFunctional.beforeMethod()[pri:0, instance:com.usound.testng.androidFunctional@6d4b1c02]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/09/25 16:22:05</td>   <td>9866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="androidFunctional.mover_volumen()[pri:6, instance:com.usound.testng.androidFunctional@6d4b1c02]">mover_volumen</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/09/25 16:22:25</td>   <td>30025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;androidFunctional.afterMethod()[pri:0, instance:com.usound.testng.androidFunctional@6d4b1c02]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
</table>
