<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.usound.testng.androidFunctional</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>secInicial</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navegaMenu</td>
<td>menu </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_normal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>asistenteAuditivo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mover_volumen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navegacionPrincipal</td>
<td>menu </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navegacion_tuNivelAuditivo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mover_eq</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.usound.testng.retrocompatibility</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifica_cuenta</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>instalar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifica_audim</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navegaAnterior</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aftertearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.usound.testng.FunctionalTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>secInicial</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navegaMenu</td>
<td>menu </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>asistenteAuditivo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mover_volumen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navegacionPrincipal</td>
<td>menu </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navegacion_tuNivelAuditivo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mover_eq</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aftertearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.usound.testng.TestAuditivo</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_leves</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_normal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_moderada</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_severa</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aftertearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
