<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>menu</td><td>androidFunctional.navegaMenu()[pri:4, instance:com.usound.testng.androidFunctional@57baeedf]<br/>FunctionalTest.navegacionPrincipal()[pri:2, instance:com.usound.testng.FunctionalTest@343f4d3d]<br/>FunctionalTest.navegaMenu()[pri:4, instance:com.usound.testng.FunctionalTest@343f4d3d]<br/>androidFunctional.navegacionPrincipal()[pri:2, instance:com.usound.testng.androidFunctional@57baeedf]<br/></td></tr>
</table>
