<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 12:57:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;androidFunctional.afterMethod()[pri:0, instance:com.usound.testng.androidFunctional@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 13:00:27</td>   <td>157882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;androidFunctional.afterMethod()[pri:0, instance:com.usound.testng.androidFunctional@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 13:07:32</td>   <td>582773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;androidFunctional.afterMethod()[pri:0, instance:com.usound.testng.androidFunctional@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 13:13:37</td>   <td>948076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;androidFunctional.afterMethod()[pri:0, instance:com.usound.testng.androidFunctional@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/09/15 12:59:07</td>   <td>78067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.aftertearDown()[pri:0, instance:com.usound.testng.FunctionalTest@343f4d3d]">&lt;&lt;aftertearDown</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 12:59:50</td>   <td>121201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestAuditivo.aftertearDown()[pri:0, instance:com.usound.testng.TestAuditivo@5442a311]">&lt;&lt;aftertearDown</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/09/15 13:01:03</td>   <td>194333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.aftertearDown()[pri:0, instance:com.usound.testng.FunctionalTest@343f4d3d]">&lt;&lt;aftertearDown</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 13:03:22</td>   <td>333049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestAuditivo.aftertearDown()[pri:0, instance:com.usound.testng.TestAuditivo@5442a311]">&lt;&lt;aftertearDown</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 13:06:53</td>   <td>543708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestAuditivo.aftertearDown()[pri:0, instance:com.usound.testng.TestAuditivo@5442a311]">&lt;&lt;aftertearDown</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/09/15 13:08:11</td>   <td>622046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.aftertearDown()[pri:0, instance:com.usound.testng.FunctionalTest@343f4d3d]">&lt;&lt;aftertearDown</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 13:13:12</td>   <td>923505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestAuditivo.aftertearDown()[pri:0, instance:com.usound.testng.TestAuditivo@5442a311]">&lt;&lt;aftertearDown</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 12:56:25</td>   <td>-84071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;androidFunctional.beforeMethod()[pri:0, instance:com.usound.testng.androidFunctional@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/09/15 12:57:53</td>   <td>4171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeMethod()[pri:0, instance:com.usound.testng.FunctionalTest@343f4d3d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/09/15 12:59:11</td>   <td>82145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;retrocompatibility.beforeMethod()[pri:0, instance:com.usound.testng.retrocompatibility@53b32d7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 12:59:20</td>   <td>91297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAuditivo.beforeMethod()[pri:0, instance:com.usound.testng.TestAuditivo@5442a311]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 12:59:54</td>   <td>125196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;androidFunctional.beforeMethod()[pri:0, instance:com.usound.testng.androidFunctional@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/09/15 13:00:31</td>   <td>162024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeMethod()[pri:0, instance:com.usound.testng.FunctionalTest@343f4d3d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 13:01:07</td>   <td>198440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAuditivo.beforeMethod()[pri:0, instance:com.usound.testng.TestAuditivo@5442a311]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 13:03:26</td>   <td>337335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAuditivo.beforeMethod()[pri:0, instance:com.usound.testng.TestAuditivo@5442a311]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 13:06:57</td>   <td>547729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;androidFunctional.beforeMethod()[pri:0, instance:com.usound.testng.androidFunctional@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/09/15 13:07:36</td>   <td>586876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeMethod()[pri:0, instance:com.usound.testng.FunctionalTest@343f4d3d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 13:08:15</td>   <td>626080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAuditivo.beforeMethod()[pri:0, instance:com.usound.testng.TestAuditivo@5442a311]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 13:13:17</td>   <td>927562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;androidFunctional.beforeMethod()[pri:0, instance:com.usound.testng.androidFunctional@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/09/15 13:13:37</td>   <td>948123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeMethod()[pri:0, instance:com.usound.testng.FunctionalTest@343f4d3d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 13:13:35</td>   <td>945942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="androidFunctional.navegaMenu()[pri:4, instance:com.usound.testng.androidFunctional@57baeedf]">navegaMenu</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 13:00:12</td>   <td>142982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="androidFunctional.navegacionPrincipal()[pri:2, instance:com.usound.testng.androidFunctional@57baeedf]">navegacionPrincipal</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/09/15 13:00:48</td>   <td>179512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.navegacionPrincipal()[pri:2, instance:com.usound.testng.FunctionalTest@343f4d3d]">navegacionPrincipal</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 13:07:14</td>   <td>565149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="androidFunctional.navegacion_tuNivelAuditivo()[pri:3, instance:com.usound.testng.androidFunctional@57baeedf]">navegacion_tuNivelAuditivo</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/09/15 13:07:53</td>   <td>604120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.navegacion_tuNivelAuditivo()[pri:3, instance:com.usound.testng.FunctionalTest@343f4d3d]">navegacion_tuNivelAuditivo</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/09/15 12:56:54</td>   <td>-54537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="androidFunctional.secInicial()[pri:1, instance:com.usound.testng.androidFunctional@57baeedf]">secInicial</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/09/15 12:58:13</td>   <td>24068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.secInicial()[pri:1, instance:com.usound.testng.FunctionalTest@343f4d3d]">secInicial</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 13:01:25</td>   <td>216384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAuditivo.test_leves()[pri:2, instance:com.usound.testng.TestAuditivo@5442a311]">test_leves</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 13:03:44</td>   <td>354834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAuditivo.test_moderada()[pri:2, instance:com.usound.testng.TestAuditivo@5442a311]">test_moderada</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 12:59:38</td>   <td>109427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAuditivo.test_normal()[pri:1, instance:com.usound.testng.TestAuditivo@5442a311]">test_normal</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/09/15 13:08:33</td>   <td>644028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAuditivo.test_severa()[pri:3, instance:com.usound.testng.TestAuditivo@5442a311]">test_severa</td> 
  <td>main@1234776885</td>   <td></td> </tr>
</table>
